aiohttp
fastapi==0.110.3
h11
httpcore
httpx==0.27.2
numpy
openai
packaging
passlib
pydantic
pydantic-settings
pydantic_core
#PyExecJS==1.5.1
# PyJWT 不能升级到2.10以上版本，因为其sub不支持非字符串类型
PyJWT==2.9.0
PyMySQL
python-dotenv
python-multipart
starlette
sse-starlette
typing_extensions
urllib3
uvicorn
#websockets
python-pptx
tiktoken
SQLAlchemy
pandas
pypandoc
#markdown_to_json
asgiref
spacy
weaviate-client
pdfplumber
pypdf
PyMuPDF
pymupdf4llm
# pymupdf-fonts
python-docx
#watchdog
# For AES/RSA encrypt/decrypt
pycryptodome
# For X.509 Certificates
cryptography
minio